[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci",
  "test -d node_modules/tailwindcss || (echo 'ERROR: tailwindcss not installed!' && exit 1)",
  "test -d node_modules/postcss || (echo 'ERROR: postcss not installed!' && exit 1)"
]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "npm run start"

