[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npm ci --verbose",
  "test -d node_modules/tailwindcss && echo 'tailwindcss: OK' || (echo 'tailwindcss: MISSING' && exit 1)",
  "test -d node_modules/postcss && echo 'postcss: OK' || (echo 'postcss: MISSING' && exit 1)",
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "npm run start"

