[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci",
  "ls node_modules | grep tailwindcss || echo 'tailwindcss not found!'",
  "npm list tailwindcss || true"
]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "npm run start"

